<a href="https://colab.research.google.com/github/ipw0630/project_etl/blob/main/EXERCISE_DE5_W_13.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Install PySpark

In [1]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.1.tar.gz (317.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.0/317.0 MB 4.4 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.1-py2.py3-none-any.whl size=317488491 sha256=5c3c5dd5eac29f4ea7e97528f7756ad960d329348130f0b0be91ed6fb544c6ad
  Stored in directory: /root/.cache/pip/wheels/80/1d/60/2c256ed38dddce2fdd93be545214a63e02fbd8d74fb0b7f3a6
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.1

In [2]:
from pyspark import SparkContext, SparkConf
sconf = SparkConf().setAppName('dibimbing_5').setMaster('local')
sc = SparkContext.getOrCreate(conf=sconf)

In [3]:
sc

In [4]:
sc.getConf().getAll()

[('spark.master', 'local'),
 ('spark.driver.extraJavaOptions',
  '-Djava.net.preferIPv6Addresses=false -XX:+IgnoreUnrecognizedVMOptions --add-opens=java.base/java.lang=ALL-UNNAMED --add-opens=java.base/java.lang.invoke=ALL-UNNAMED --add-opens=java.base/java.lang.reflect=ALL-UNNAMED --add-opens=java.base/java.io=ALL-UNNAMED --add-opens=java.base/java.net=ALL-UNNAMED --add-opens=java.base/java.nio=ALL-UNNAMED --add-opens=java.base/java.util=ALL-UNNAMED --add-opens=java.base/java.util.concurrent=ALL-UNNAMED --add-opens=java.base/java.util.concurrent.atomic=ALL-UNNAMED --add-opens=java.base/jdk.internal.ref=ALL-UNNAMED --add-opens=java.base/sun.nio.ch=ALL-UNNAMED --add-opens=java.base/sun.nio.cs=ALL-UNNAMED --add-opens=java.base/sun.security.action=ALL-UNNAMED --add-opens=java.base/sun.util.calendar=ALL-UNNAMED --add-opens=java.security.jgss/sun.security.krb5=ALL-UNNAMED -Djdk.reflect.useDirectMethodHandle=false'),
 ('spark.app.submitTime', '1715403281168'),
 ('spark.app.startTime', '1715403281428'),
 ('spark.app.name', 'dibimbing_5'),
 ('spark.executor.id', 'driver'),
 ('spark.driver.host', '2f156b62feeb'),
 ('spark.rdd.compress', 'True'),
 ('spark.executor.extraJavaOptions',
  '-Djava.net.preferIPv6Addresses=false -XX:+IgnoreUnrecognizedVMOptions --add-opens=java.base/java.lang=ALL-UNNAMED --add-opens=java.base/java.lang.invoke=ALL-UNNAMED --add-opens=java.base/java.lang.reflect=ALL-UNNAMED --add-opens=java.base/java.io=ALL-UNNAMED --add-opens=java.base/java.net=ALL-UNNAMED --add-opens=java.base/java.nio=ALL-UNNAMED --add-opens=java.base/java.util=ALL-UNNAMED --add-opens=java.base/java.util.concurrent=ALL-UNNAMED --add-opens=java.base/java.util.concurrent.atomic=ALL-UNNAMED --add-opens=java.base/jdk.internal.ref=ALL-UNNAMED --add-opens=java.base/sun.nio.ch=ALL-UNNAMED --add-opens=java.base/sun.nio.cs=ALL-UNNAMED --add-opens=java.base/sun.security.action=ALL-UNNAMED --add-opens=java.base/sun.util.calendar=ALL-UNNAMED --add-opens=java.security.jgss/sun.security.krb5=ALL-UNNAMED -Djdk.reflect.useDirectMethodHandle=false'),
 ('spark.serializer.objectStreamReset', '100'),
 ('spark.app.id', 'local-1715403283215'),
 ('spark.submit.pyFiles', ''),
 ('spark.submit.deployMode', 'client'),
 ('spark.driver.port', '33995'),
 ('spark.ui.showConsoleProgress', 'true')]

# RDD

In [5]:
num_data = range(1,101)

In [6]:
len(num_data)

100

In [7]:
num_rdd = sc.parallelize(num_data)
num_rdd

PythonRDD[1] at RDD at PythonRDD.scala:53

In [8]:
num_rdd.getNumPartitions()

1

In [9]:
new_num_rdd = num_rdd.repartition(10)
new_num_rdd.getNumPartitions()

10

In [10]:
new_num_rdd.collect()

[11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10]

# membuat output lebih rapih

In [11]:
new_num_rdd.glom().collect()

[[11, 12, 13, 14, 15, 16, 17, 18, 19, 20],
 [21, 22, 23, 24, 25, 26, 27, 28, 29, 30],
 [31, 32, 33, 34, 35, 36, 37, 38, 39, 40],
 [41, 42, 43, 44, 45, 46, 47, 48, 49, 50],
 [51, 52, 53, 54, 55, 56, 57, 58, 59, 60],
 [61, 62, 63, 64, 65, 66, 67, 68, 69, 70],
 [71, 72, 73, 74, 75, 76, 77, 78, 79, 80],
 [81, 82, 83, 84, 85, 86, 87, 88, 89, 90],
 [91, 92, 93, 94, 95, 96, 97, 98, 99, 100],
 [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]]

In [12]:
new_num_rdd.take(10)

[11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [13]:
new_num_rdd.takeOrdered(10)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [14]:
#menampilkan 5 baris angka genap
new_num_rdd.map(lambda x: x+1).takeOrdered(5)

[2, 3, 4, 5, 6]

In [15]:
#menampilkan angka modulus
new_num_rdd.filter(lambda x: (x%2==0)).takeOrdered(5)

[2, 4, 6, 8, 10]

In [16]:
new_num_rdd.map(lambda x: [x,x+1]).takeOrdered(5)

[[1, 2], [2, 3], [3, 4], [4, 5], [5, 6]]

In [17]:
new_num_rdd.flatMap(lambda x: [x,x+1]).takeOrdered(5)

[1, 2, 2, 3, 3]

In [18]:
new_num_rdd.flatMap(lambda x: [x,x+1]).distinct().takeOrdered(5)

[1, 2, 3, 4, 5]

In [19]:
new_num_rdd.reduce(lambda x,y: x+y)

5050

# Dataframe

In [21]:
from pyspark.sql import SparkSession
spark_session = SparkSession.builder\
  .appName('dibimbing_session_13')\
  .master('local')\
  .getOrCreate()
spark_context_new = spark_session.sparkContext
spark_context_new

In [22]:
! wget https://raw.githubusercontent.com/databricks/Spark-The-Definitive-Guide/master/data/retail-data/all/online-retail-dataset.csv

--2024-05-11 05:04:43--  https://raw.githubusercontent.com/databricks/Spark-The-Definitive-Guide/master/data/retail-data/all/online-retail-dataset.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 45038760 (43M) [text/plain]
Saving to: ‘online-retail-dataset.csv’

online-retail-datas 100%[===================>]  42.95M   176MB/s    in 0.2s

2024-05-11 05:04:45 (176 MB/s) - ‘online-retail-dataset.csv’ saved [45038760/45038760]

In [23]:
df = spark_session.read.csv('/content/online-retail-dataset.csv')
df.show(5)

+---------+---------+--------------------+--------+--------------+---------+----------+--------------+
|      _c0|      _c1|                 _c2|     _c3|           _c4|      _c5|       _c6|           _c7|
+---------+---------+--------------------+--------+--------------+---------+----------+--------------+
|InvoiceNo|StockCode|         Description|Quantity|   InvoiceDate|UnitPrice|CustomerID|       Country|
|   536365|   85123A|WHITE HANGING HEA...|       6|12/1/2010 8:26|     2.55|     17850|United Kingdom|
|   536365|    71053| WHITE METAL LANTERN|       6|12/1/2010 8:26|     3.39|     17850|United Kingdom|
|   536365|   84406B|CREAM CUPID HEART...|       8|12/1/2010 8:26|     2.75|     17850|United Kingdom|
|   536365|   84029G|KNITTED UNION FLA...|       6|12/1/2010 8:26|     3.39|     17850|United Kingdom|
+---------+---------+--------------------+--------+--------------+---------+----------+--------------+
only showing top 5 rows

In [24]:
df = spark_session.read.csv('/content/online-retail-dataset.csv', header=True)
df.show(5)

+---------+---------+--------------------+--------+--------------+---------+----------+--------------+
|InvoiceNo|StockCode|         Description|Quantity|   InvoiceDate|UnitPrice|CustomerID|       Country|
+---------+---------+--------------------+--------+--------------+---------+----------+--------------+
|   536365|   85123A|WHITE HANGING HEA...|       6|12/1/2010 8:26|     2.55|     17850|United Kingdom|
|   536365|    71053| WHITE METAL LANTERN|       6|12/1/2010 8:26|     3.39|     17850|United Kingdom|
|   536365|   84406B|CREAM CUPID HEART...|       8|12/1/2010 8:26|     2.75|     17850|United Kingdom|
|   536365|   84029G|KNITTED UNION FLA...|       6|12/1/2010 8:26|     3.39|     17850|United Kingdom|
|   536365|   84029E|RED WOOLLY HOTTIE...|       6|12/1/2010 8:26|     3.39|     17850|United Kingdom|
+---------+---------+--------------------+--------+--------------+---------+----------+--------------+
only showing top 5 rows

In [25]:
df.printSchema()

root
 |-- InvoiceNo: string (nullable = true)
 |-- StockCode: string (nullable = true)
 |-- Description: string (nullable = true)
 |-- Quantity: string (nullable = true)
 |-- InvoiceDate: string (nullable = true)
 |-- UnitPrice: string (nullable = true)
 |-- CustomerID: string (nullable = true)
 |-- Country: string (nullable = true)

In [26]:
df = spark_session.read.csv('/content/online-retail-dataset.csv', header=True, inferSchema=True)
df.show(5)

+---------+---------+--------------------+--------+--------------+---------+----------+--------------+
|InvoiceNo|StockCode|         Description|Quantity|   InvoiceDate|UnitPrice|CustomerID|       Country|
+---------+---------+--------------------+--------+--------------+---------+----------+--------------+
|   536365|   85123A|WHITE HANGING HEA...|       6|12/1/2010 8:26|     2.55|     17850|United Kingdom|
|   536365|    71053| WHITE METAL LANTERN|       6|12/1/2010 8:26|     3.39|     17850|United Kingdom|
|   536365|   84406B|CREAM CUPID HEART...|       8|12/1/2010 8:26|     2.75|     17850|United Kingdom|
|   536365|   84029G|KNITTED UNION FLA...|       6|12/1/2010 8:26|     3.39|     17850|United Kingdom|
|   536365|   84029E|RED WOOLLY HOTTIE...|       6|12/1/2010 8:26|     3.39|     17850|United Kingdom|
+---------+---------+--------------------+--------+--------------+---------+----------+--------------+
only showing top 5 rows

In [27]:
df.printSchema()

root
 |-- InvoiceNo: string (nullable = true)
 |-- StockCode: string (nullable = true)
 |-- Description: string (nullable = true)
 |-- Quantity: integer (nullable = true)
 |-- InvoiceDate: string (nullable = true)
 |-- UnitPrice: double (nullable = true)
 |-- CustomerID: integer (nullable = true)
 |-- Country: string (nullable = true)

In [28]:
from pyspark.sql.types import *
schema = StructType([
    StructField('InvoiceNo', IntegerType(), True),
    StructField('StockCode', StringType(), True),
    StructField('Description', StringType(), True),
    StructField('Quantity', IntegerType(), True),
    StructField('InvoiceDate', TimestampType(), True),
    StructField('UnitPrice', DoubleType(), True),
    StructField('CustomerID', IntegerType(), True),
    StructField('Country', StringType(), True),
])
df = spark_session.read.csv('/content/online-retail-dataset.csv', header=True, schema=schema)
df.printSchema()

root
 |-- InvoiceNo: integer (nullable = true)
 |-- StockCode: string (nullable = true)
 |-- Description: string (nullable = true)
 |-- Quantity: integer (nullable = true)
 |-- InvoiceDate: timestamp (nullable = true)
 |-- UnitPrice: double (nullable = true)
 |-- CustomerID: integer (nullable = true)
 |-- Country: string (nullable = true)

In [29]:
df.show(5)

+---------+---------+--------------------+--------+-----------+---------+----------+--------------+
|InvoiceNo|StockCode|         Description|Quantity|InvoiceDate|UnitPrice|CustomerID|       Country|
+---------+---------+--------------------+--------+-----------+---------+----------+--------------+
|   536365|   85123A|WHITE HANGING HEA...|       6|       NULL|     2.55|     17850|United Kingdom|
|   536365|    71053| WHITE METAL LANTERN|       6|       NULL|     3.39|     17850|United Kingdom|
|   536365|   84406B|CREAM CUPID HEART...|       8|       NULL|     2.75|     17850|United Kingdom|
|   536365|   84029G|KNITTED UNION FLA...|       6|       NULL|     3.39|     17850|United Kingdom|
|   536365|   84029E|RED WOOLLY HOTTIE...|       6|       NULL|     3.39|     17850|United Kingdom|
+---------+---------+--------------------+--------+-----------+---------+----------+--------------+
only showing top 5 rows

In [30]:
from pyspark.sql.types import *
schema = StructType([
    StructField('InvoiceNo', IntegerType(), True),
    StructField('StockCode', StringType(), True),
    StructField('Description', StringType(), True),
    StructField('Quantity', IntegerType(), True),
    StructField('InvoiceDate', StringType(), True),
    StructField('UnitPrice', DoubleType(), True),
    StructField('CustomerID', IntegerType(), True),
    StructField('Country', StringType(), True),
])
df = spark_session.read.csv('/content/online-retail-dataset.csv', header=True, schema=schema)
df.printSchema()

root
 |-- InvoiceNo: integer (nullable = true)
 |-- StockCode: string (nullable = true)
 |-- Description: string (nullable = true)
 |-- Quantity: integer (nullable = true)
 |-- InvoiceDate: string (nullable = true)
 |-- UnitPrice: double (nullable = true)
 |-- CustomerID: integer (nullable = true)
 |-- Country: string (nullable = true)

In [31]:
import pyspark.sql.functions as F
df = df.withColumn('InvoiceDate', F.to_timestamp('InvoiceDate', format('M/d/yyyy H:mm')))
df.show(5)

+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+
|InvoiceNo|StockCode|         Description|Quantity|        InvoiceDate|UnitPrice|CustomerID|       Country|
+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+
|   536365|   85123A|WHITE HANGING HEA...|       6|2010-12-01 08:26:00|     2.55|     17850|United Kingdom|
|   536365|    71053| WHITE METAL LANTERN|       6|2010-12-01 08:26:00|     3.39|     17850|United Kingdom|
|   536365|   84406B|CREAM CUPID HEART...|       8|2010-12-01 08:26:00|     2.75|     17850|United Kingdom|
|   536365|   84029G|KNITTED UNION FLA...|       6|2010-12-01 08:26:00|     3.39|     17850|United Kingdom|
|   536365|   84029E|RED WOOLLY HOTTIE...|       6|2010-12-01 08:26:00|     3.39|     17850|United Kingdom|
+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+
only showing top 5 rows

In [32]:
df.printSchema()

root
 |-- InvoiceNo: integer (nullable = true)
 |-- StockCode: string (nullable = true)
 |-- Description: string (nullable = true)
 |-- Quantity: integer (nullable = true)
 |-- InvoiceDate: timestamp (nullable = true)
 |-- UnitPrice: double (nullable = true)
 |-- CustomerID: integer (nullable = true)
 |-- Country: string (nullable = true)

# Tranformation dataframe to Pandas

In [33]:
pandas_df = df.toPandas()

In [34]:
type(pandas_df)

pandas.core.frame.DataFrame

# Get Dataframe with SQL

In [35]:
df.createOrReplaceTempView("retail")
spark_session.sql("""
  SELECT *
  FROM retail
  WHERE InvoiceNo = 536365
""").show()

+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+
|InvoiceNo|StockCode|         Description|Quantity|        InvoiceDate|UnitPrice|CustomerID|       Country|
+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+
|   536365|   85123A|WHITE HANGING HEA...|       6|2010-12-01 08:26:00|     2.55|     17850|United Kingdom|
|   536365|    71053| WHITE METAL LANTERN|       6|2010-12-01 08:26:00|     3.39|     17850|United Kingdom|
|   536365|   84406B|CREAM CUPID HEART...|       8|2010-12-01 08:26:00|     2.75|     17850|United Kingdom|
|   536365|   84029G|KNITTED UNION FLA...|       6|2010-12-01 08:26:00|     3.39|     17850|United Kingdom|
|   536365|   84029E|RED WOOLLY HOTTIE...|       6|2010-12-01 08:26:00|     3.39|     17850|United Kingdom|
|   536365|    22752|SET 7 BABUSHKA NE...|       2|2010-12-01 08:26:00|     7.65|     17850|United Kingdom|
|   536365|    21730|GLASS STAR FROSTE...|       6|2010-12-01 08:26:00|     4.25|     17850|United Kingdom|
+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+

In [36]:
df.where(df['InvoiceNo']==536365).select('InvoiceNo','StockCode').show()

+---------+---------+
|InvoiceNo|StockCode|
+---------+---------+
|   536365|   85123A|
|   536365|    71053|
|   536365|   84406B|
|   536365|   84029G|
|   536365|   84029E|
|   536365|    22752|
|   536365|    21730|
+---------+---------+

In [37]:
df.where(df['InvoiceNo']==536365).select('InvoiceNo','StockCode').orderBy('StockCode').show()

+---------+---------+
|InvoiceNo|StockCode|
+---------+---------+
|   536365|    21730|
|   536365|    22752|
|   536365|    71053|
|   536365|   84029E|
|   536365|   84029G|
|   536365|   84406B|
|   536365|   85123A|
+---------+---------+

# AGGREGATE FUNCTION

In [38]:
df.groupBy('InvoiceNo').agg(F.sum('Quantity'), F.avg('UnitPrice')).show()

+---------+-------------+------------------+
|InvoiceNo|sum(Quantity)|    avg(UnitPrice)|
+---------+-------------+------------------+
|   536532|         1852|1.4064383561643836|
|   537632|            1|          13541.33|
|   538708|          191|3.4850000000000003|
|   538877|         2153| 5.862185430463579|
|   538993|           56|               2.0|
|   539735|           64| 9.991250000000003|
|   539958|         2320| 4.580625000000002|
|   540562|          392|          2.645625|
|   540563|           16|             10.95|
|   541008|           68|             1.984|
|   542058|          740|0.8895652173913046|
|   542239|           56|2.9521428571428587|
|   542694|          600|              0.53|
|   542723|           68|2.0749999999999997|
|   543751|            2|               5.6|
|   544198|           36|2.3333333333333335|
|   544205|          102| 9.237230769230772|
|   544702|          198|2.5466666666666664|
|   545638|           85|2.4877777777777776|
|   545649|           51|2.5802702702702716|
+---------+-------------+------------------+
only showing top 20 rows

In [39]:
df.groupBy('InvoiceNo').agg(F.sum('Quantity').alias('sum_quantity'), F.avg('UnitPrice').alias('avg_unit_price')).show()

+---------+------------+------------------+
|InvoiceNo|sum_quantity|    avg_unit_price|
+---------+------------+------------------+
|   536532|        1852|1.4064383561643836|
|   537632|           1|          13541.33|
|   538708|         191|3.4850000000000003|
|   538877|        2153| 5.862185430463579|
|   538993|          56|               2.0|
|   539735|          64| 9.991250000000003|
|   539958|        2320| 4.580625000000002|
|   540562|         392|          2.645625|
|   540563|          16|             10.95|
|   541008|          68|             1.984|
|   542058|         740|0.8895652173913046|
|   542239|          56|2.9521428571428587|
|   542694|         600|              0.53|
|   542723|          68|2.0749999999999997|
|   543751|           2|               5.6|
|   544198|          36|2.3333333333333335|
|   544205|         102| 9.237230769230772|
|   544702|         198|2.5466666666666664|
|   545638|          85|2.4877777777777776|
|   545649|          51|2.5802702702702716|
+---------+------------+------------------+
only showing top 20 rows

In [40]:
df.groupBy('InvoiceNo').agg(F.sum('Quantity').alias('sum_quantity'), F.avg('UnitPrice').cast('decimal(10,2)').alias('avg_unit_price')).show()

+---------+------------+--------------+
|InvoiceNo|sum_quantity|avg_unit_price|
+---------+------------+--------------+
|   536532|        1852|          1.41|
|   537632|           1|      13541.33|
|   538708|         191|          3.49|
|   538877|        2153|          5.86|
|   538993|          56|          2.00|
|   539735|          64|          9.99|
|   539958|        2320|          4.58|
|   540562|         392|          2.65|
|   540563|          16|         10.95|
|   541008|          68|          1.98|
|   542058|         740|          0.89|
|   542239|          56|          2.95|
|   542694|         600|          0.53|
|   542723|          68|          2.07|
|   543751|           2|          5.60|
|   544198|          36|          2.33|
|   544205|         102|          9.24|
|   544702|         198|          2.55|
|   545638|          85|          2.49|
|   545649|          51|          2.58|
+---------+------------+--------------+
only showing top 20 rows

In [41]:
df.agg(F.sum('quantity')).show()

+-------------+
|sum(quantity)|
+-------------+
|      5176450|
+-------------+

In [42]:
df.select('quantity').rdd.flatMap(lambda x:x).reduce(lambda x,y: x+y)

5176450